<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="/javascripts/hamburger.js"></script>
<script>
  const socket = io();
  socket.on("hello", (arg) => {
    console.log(arg); // world
  });

  socket.emit('kaka');
</script>
</body>

</html>