<nav class="navbar">
  <div class="navbar-logo">
    <img src="/images/logo.png" alt="Logo">
  </div>
  <div class="navbar-links">
    <a href="/">Home</a>
    <a href="/room">Play</a>
    <a href="/waiting-rooms">Rooms</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>
  <div class="navbar-profile">
    <% if (user) { %>
      <a href="/profile?user=<%= user.username %>"><img src="https://tictactoe-q4q1.onrender.com/<%= user.profilePic.replace('./public', '') %>" alt="Profile Picture"></a>
    <% } else { %>
    <div class="navbar-links">
      <a href="/login">Login</a>
    </div>
    <% } %>
  </div>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
<div class="mobile-menu" id="mobileMenu">
  <a href="/">Home</a>
  <a href="/room">Play</a>
  <a href="/waiting-rooms">Rooms</a>
  <a href="/leaderboard">Leaderboard</a>
</div>