<nav class="navbar">
  <div class="navbar-logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Jogo_da_velha_-_tic_tac_toe.png" alt="Logo">
  </div>
  <div class="navbar-links">
    <a href="#">Home</a>
    <a href="#">Leaderboard</a>
    <a href="#">Room</a>
    <a href="#">About Us</a>
  </div>
  <div class="navbar-profile">
    <% if (user) { %>
      <a href="/profile?user=<%= user.username %>"><img src="<%= user.profilePic.replace('/public', '') %>" alt="Profile Picture"></a>
    <% } else { %>
    <div class="navbar-links">
      <a href="/login">Login</a>
    </div>
    <% } %>
  </div>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
<div class="mobile-menu" id="mobileMenu">
  <a href="/">Home</a>
  <a href="/rank">Leaderboard</a>
  <a href="/room">Room</a>
  <a href="/aboutus">About Us</a>
</div>

<a href="/room" id="start-play-btn">Start Play</a>