<%- include('layouts/header', { stylesheets: ['style', 'loginPage'] }) %>

<div class="login-container">
  <div class="login-header">
    <h1>Welcome Back</h1>
    <% if (err) { %>
        <p class="flash-message"><%= err %></p>
    <% } %>
  </div>
  <form class="login-form" method="post" action="/login">
    <label for="username">Username</label>
    <input type="username" id="username" name="username" placeholder="Username" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>

    <button type="submit" class="login-button">Login</button>
  </form>
  <div class="login-footer">
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
  </div>
</div>