@import './variabels.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

footer {
    background-color: #1c1c1e;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 2rem 1rem;
    border-top: 4px solid var(--text-ternary);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.footer-section {
    flex: 1 250px;
    max-width: 300px;
}

.footer-section h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--accent-dark);
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin: 0.5rem 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--text-secondary);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #007BFF;
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    .footer-section {
        flex: 1 100%;
    }
}