@import './variabels.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    gap: 20px;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--text-ternary);
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.navbar-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    gap: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 100;
}

.mobile-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.mobile-menu a:hover {
    color: var(--accent-dark);
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.open {
        display: flex;
    }
}
