* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

main{
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    margin: 20px 0;
}

.btn {
    padding: 0.8rem;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.profile-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    max-width: 600px;
}

.profile-picture {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #555;
    overflow: hidden;
}

.profile-picture img{
    object-fit: cover;
    width: 100%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.profile-details h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.profile-details p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;
    }

    .profile-details h1 {
        font-size: 1.5rem;
    }

    .profile-details p {
        font-size: 1rem;
    }
}