:root {
    --bg-primary: #f2e6d5;
    --bg-secondary: #d9c6b2;
    --text-primary: #a68a7d;
    --text-secondary: #bfada0;
    --text-ternary: #78645b;
    --accent-light: #f2e6d5;
    --accent-dark: #a68a7d;
    --neutral-light: #ffffff;
    --neutral-dark: #bfada0;
}
